/* .container {
    display: inline-block;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
  
.letters {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
} */

/* .underline {
    text-decoration: underline;
}

.underline-row td {
    text-decoration: underline;
}

.underline-column {
    border-top: 1px solid black;
} */

.table-container {
    display: flex;
}
  
.table-container table {
    margin-right: 50px; /* Разстояние между таблиците */
}

#table-task {
    border-collapse: collapse;
}
  
td {
    padding: 10px;
    border: none;
}

/* Промяна на границата между първия и втория ред */
.border-between-rows {
    border-bottom: 3px solid black;
}




body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#slider-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#scale-slider {
    width: 200px;
}

#table-container {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

/* table {
    border-collapse: collapse;
    border: 1px solid black;
} */

/* td {
    padding: 5px;
    border: 1px solid black;
    position: relative;
} */

.digit {
    position: relative;
}

.digit::before {
    content: attr(data-digit);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.2s;
}

.digit.marked::before {
    opacity: 0;
}

.marked {
    background-color: red;
    color: white;
}

.col {
    display: flex;
    justify-content: center; /* Хоризонтално центриране */
    align-items: center; /* Вертикално центриране */
    height: 100vh; /* Задаване на височина на колоната (например 100vh за цял екран) */
    z-index: 2;
}

.fixed-bottom {
    background-color: darkgrey;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 1;
}



/* .fields {
    display: flex;
} */
  
.fields input {
    border: none;
    border-bottom: 2px solid black;
    width: 30px;
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
}
  
.fields input:focus {
    outline: none;
    border-bottom: 2px solid red;
}