.container {
    display: inline-block;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
  
.letters {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.underline-row td {
    text-decoration: underline;
}

.underline-column {
    border-top: 1px solid black;
}